/* dark mode 처리*/
:root[color-mode='light']{
    --font-color:#111;
    --background-color:#fff;
    --button-hover-bc:#efefef;
    --button-hover-fc:#111;
    --button-click-bc:#111;
    --button-click-fc:#fff;
  }
  
  :root[color-mode='dark']{
    --font-color:#fff;
    --background-color:#111;
    --button-hover-bc:#efefef;
    --button-hover-fc:#111;
    --button-click-bc:#fff;
    --button-click-fc:#111;
  }
  
button{
  background:none;
}

