@import 'variables';

body{
    header{  
        height:$headerHeight; 
        .nav{
            position:fixed;
            z-index:10;
            width:$basicWidth;
            top:$headerHeight;
            height:$navHeight;
            background-color:var(--background-color);
            
            display:grid;
            grid-template-columns: repeat(5, 1fr);
            border-bottom:$navBorder;
            
            li{
                font-size:$navFontSize;
                align-self: center;
                text-align:center;
                border-right:$navBorder;
                line-height: 1.6rem;
                &:last-child{
                    border:none;
                }
                &:hover{
                    animation:arr2 0.1s infinite;  
                }
                &.active{
                    &:after{
                       content:'●';
                       font-size:1rem;
                       text-align:center;
                       vertical-align:center;
                       padding-left:.3rem;
                       color:#b91d73;
                    }
                }

            }
        }
        .home{
            position:fixed;
            z-index:10;
            font-size:$navFontSize;
            bottom:1rem;
            left:1.5rem;
            color:var(--font-color);
            animation:rotate 16s infinite;
        }
        .darkMode{
            cursor: pointer;
            position:fixed;
            bottom:1rem;
            right:1.5rem;
            font-family: Helvetica Neue;
            font-size:1rem;
            color:var(--font-color);
            outline:none;
            border:none;
            animation:rotate 16s infinite;
        }
    }
    .loading{
        position:fixed;
        top:0;
        z-index:20;
        right:0;
        width:100%;
        height:100%;
        background-color:rgba(16, 16, 16, 0.9);
        img{
            width:100px;
            height:100px;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
      }
}

@keyframes rotate{
    from{transform:rotateY(0deg)}
    50%{transform: rotateY(180deg);}
    to{transform:rotateY(0deg)}
}

@media screen and (max-width:768px){
   body{ 
       header {
        height:10%;
        .hamburger-open{
            width:35px;
            height:35px;
            position:fixed;
            z-index:18;
            top:.9rem;
            right:1rem;
            transition:all 0.5s ease;         
               .btn_line{
                   width: 35px;
                   height: 3px;
                   background-color: #14e89a;
                   margin-bottom: 6px;
                   cursor:pointer;
                   transition:all 0.5s ease;
               }
               &.close{
                   transform: rotate(180deg); 
                   .btn_line{
                       &:nth-child(1){
                            transform: rotate(45deg) translate(5px, 5px); 
                        }
                       &:nth-child(2){
                            opacity: 0; 
                        }
                       &:nth-child(3){
                            transform: rotate(-45deg) translate(9px, -6px); 
                        }
                    }   
               }
            };

        .nav {
           position:absolute;
           width:100%;
           height:380px;
           top:0%;
           left:130%;
           text-align:center;
           display:flex;
           flex-direction:column;
           margin-left:-1rem;
           background-color:rgba(255,255,255,0.9);
           transition:all 1s ease;

           &.show{
               left:0%
           }
           li{
               padding:1rem 0;
               font-size:2rem;
               line-height:3rem;
               border-right:none;
               border-bottom:1px solid black;
               position:absolute;
               top:0%;
               width:100%;
               left:100%;
               transition:all .5s ease;
               &:nth-child(1){
                   transition-delay: 0.1s; 
                   top:0%;
               }
               &:nth-child(2){
                   transition-delay: 0.2s; 
                   top:15%;
               }
               &:nth-child(3){
                   transition-delay: 0.3s; 
                   top:30%;
               }
               &:nth-child(4){
                   transition-delay: 0.4s; 
                   top:45%;
               }
               &:nth-child(5){
                   transition-delay: 0.4s; 
                   top:60%;
               }
               &:last-child{
                   border-bottom:none;
               }
               &.show{
                   left:0%;
               }
           }
          }
        }}
    }
