#App{
    header{
        .app_title{
            font-size:4rem;
            font-weight:bold;
            text-align:center;
        }
        .darkMode{
            position:absolute;
            top:1rem;
            left:1.5rem;
            cursor: pointer;
            font-size:2rem;
            background: none;
            outline:none;
            border:none;
            animation:rotate 8s infinite;
        }
    }
}

@keyframes rotate{
    from{transform:rotateY(0deg)}
    to{transform:rotateY(180deg)}
}
