#App{
    overflow:hidden;
    position:relative;
    background: linear-gradient(to right, #f953c6,#b91d73);
    h1{
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size:9rem;
        width:34rem;
        cursor:pointer;
        &:hover{
            animation:arr 1s infinite;
            &:after{
                content:'CLICK START';
                width:100%;
                font-size:2rem;
                display:block;
                position:absolute;
                color:#111;
                top:110%;
                left:50%;
                transform: translate(-50%,-50%);
                text-align:center;
                text-decoration:underline;
                animation:none;
            }     
         }

        @keyframes arr {
            from{transform: translate(-50%,-50%) skew(0)}
            5%{transform: translate(-50%,-50%) skew(1deg, 1deg)}
            10%{transform: translate(-50%,-50%) skew(2deg, 2deg)}
            20%{transform: translate(-50%,-50%) skew(3deg, 2deg)}
            30%{transform: translate(-50%,-50%) skew(1deg, 1deg)}
            50%{transform: translate(-50%,-50%) skew(2deg, 1deg)}
            70%{transform: translate(-50%,-50%) skew(3deg, 3deg)}
            80%{transform: translate(-50%,-50%) skew(2deg, 2deg)}
            90%{transform: translate(-50%,-50%) skew(1deg, 1deg)}
            to{transform: translate(-50%,-50%) skew(0)}
        }
    }

    section{
        position:absolute;
        width:100%;
        height:auto;
        font-size:3rem;  
        $total: 12;

        p{
            width:100%;
            position:absolute;
            display:block;
            top:0;
            left:0;
            &:nth-child(2){
                left:100%;
            }
            &:nth-child(3){
                left:200%;
            }
        }
    }
    .section1{
        top:1rem;
    }
    .section2{
        bottom:5rem;
    }
}

@media(max-width:640px){
    #App{
        h1{
            width:80%;
            text-align:center;
            margin:0 auto;
            line-height: 8rem;
        }
    }
}
