@import 'variables';
#App{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    background: linear-gradient(to right, #fff,#f3f3f3);
    .cat{
        display:flex;
        justify-content: center;
        align-items: center;
        width:270px;
        height:240px;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        position:absolute;
        left:50%;
        top:37%;
        transform: translate(-50%,-50%);
                
        .eye{
            color:white;
            display:flex;
            position:absolute;
            left:25%;
            top:37%;
            z-index:99;
            font-size:2rem;
            &:last-child{
                left:67%;
            }
        }
    }
    
    h1{
        width:452px;
        text-align:center;
        cursor:pointer;
        position:absolute;
        z-index:20;
        top:60%;
        left:50%;
        transform: translate(-50%,-50%);
        font-size:5rem;
        &:hover{
            animation:arr 0.1s infinite;  
            &:after{
                content:'Click to Start';
                width:100%;
                font-size:1rem;
                display:block;
                position:absolute;
                color:#111;
                top:110%;
                left:50%;
                transform: translate(-50%,-50%);
                text-align:center;
                text-decoration:underline;
                animation:none;
            }     
        }
    }
    section{
        position:absolute;
        width:100%;
        height:auto;
        font-size:1rem;  
        letter-spacing:10%;
        font-weight:500;
        p{
            width:100%;
            position:absolute;
            display:block;
            top:0;
            left:0;
            &:nth-child(2){
                left:100%;
            }
            &:nth-child(3){
                left:200%;
            }
        }
    }
    .section1{
        top:1rem;
    }
    .section2{
        bottom:2rem;
    }
    }

@media(max-width:768px){
    #App{
        h1{
            width:80%;
            text-align:center;
            margin:0 auto;
            line-height: 8rem;
        }
        .cat{
            width: 150px;
            height:120px;
            top:28%;
            .eye{
                font-size:1rem;
            }
        }
    }
}
