@import 'searchResult';
@import "searchInfo";
@import 'select';
@import 'header';
@import 'vote';
@import './colormode.css';

body,ul,p,h1,h2,h3,div,button{
    outline:none;
    margin:0;
    padding:0;
}

ul,li{
    list-style:none;
}

html{
    width:100%;
    height:100%;
}

body{
    width:100%;
    height:100%;
}
  
#App, #Vote, #Favorite, #Breed{
    font-size:100%;
    width:100%;
    height:100%;

    main,header{
        width:80%;
        height:100%;
        margin:0 auto;
    }
    header{
        height:30%;
    }
}

