@import 'variables';

body{
    main{
        .select_wrap{
            width:100%;
            position:relative;
            padding-top:23px;
        }
       .select_form{  
           width:$subWidth;
           margin:0 auto;
           ul{ 
               cursor:pointer;
               width:100%;
               display:inline-flex !important;
               flex-wrap:nowrap;
               justify-content:flex-start;
               gap: 0.5rem;
               max-height:130px;
               li{     
                    height:$buttonHeight;
                    line-height:$buttonHeight;
                    font-size:$navFontSize;
                    padding:$buttonPadding;
                    border-radius:$buttonRadius;
                    border:$buttonBorder;
                    background-color:$buttonColor;
                    color:var(--font-color);
                    &:last-child{
                        margin:none;
                    }

                    &:hover{
                        background-color:$buttonHoverColor;
                        color:$buttonHoverFontColor;
                    }
                    &.active{
                        color:$buttonClickFontColor;
                        background-color:$buttonClickColor;
                        border:none;
                    }
               }
           }
        }
    }
}

#Breed{
    .select_form{
        position:relative;
        overflow-x: hidden;
        }
}

@media screen and (max-width:768px){
    body{
        width:100%;
        header{
            height:0;
        }
        main{
            width:100%;
            .select_wrap{
                width:100%;
                margin-top:142px;
            }
            .select_form{  
                width:100%;
                ul{ 
                    position:relative;
                    width:100%;
                    height:$buttonHeight;
                    padding:$basicPaddingMO;
                    display:flex !important;
                    flex-direction:row;
                    position:relative;
                    justify-content: flex-start;
                    align-items: flex-start;
                    z-index:0;
                    border-bottom:none; 
                    box-sizing:border-box;
                    li{
                        box-sizing:border-box;
                       text-align:left;
                       font-size:1.2rem;
                       line-height:$buttonHeight;
                    }          
                }
            }
        }
    }
}
  