@import 'variables';

#Category{
    main{
        .select_wrap{
            width:100%;
            height:$navHeight;
            position:relative;
        }
       .select_form{  
           width:100%; 
           .selected{
            //hidden
            position: absolute; 
            top:-999px;
            left:-999px;
           }  
           ul{ 
               cursor:pointer;
               width:100%;
               height:$navHeight/2;
               display:grid !important;
               grid-template-columns: repeat(7, 1fr);
               border-bottom:1px solid var(--font-color);
               li{
                    align-self: center;
                    text-align:center;
                    font-size:1.2rem;
                    padding:$listPaddingTB;
                    line-height:0.6rem;
                    border-right: 1px solid var(--font-color);
                    &:last-child{
                        border:none;
                    }
                    &:hover{
                        color:#14e89a;
                    }
                    &.active{
                        color:#14e89a;
                        text-decoration:underline dotted #14e89a;                    }
               }
           }
        }
    }
}

#Breed{
    main{
        .select_wrap{
            cursor: pointer;            
            width:100%;
            height:$navHeight;
            
            position:relative;
            display:grid;
            grid-template-columns: repeat(2,1fr);
        }
       .select_form{  
           width:20%; 
           .select{
               background-color: rgba(255,255,255,0.8);
               overflow-y: scroll;
               position:absolute;
               top:1.8rem;
               width:20%;
               height:600%;
               font-size:1.2rem;
               li{
                    padding:$listPaddingTB;
               }
           }
        }
    }
}

@media screen and (max-width:768px){
    #Category{
        width:100%;
        header{
            height:0;
        }
        main{
            width:100%;
            .select_wrap{
                height:0;
            }
            .select_form{  
                width:100%;
                ul{ 
                    width:0%;
                    display:flex !important;
                    flex-direction:column;
                    position:fixed;
                    top:0.5rem;
                    left:1rem;
                    justify-content: flex-start;
                    align-items: flex-start;
                    z-index:10;
                    height:180px;
                    border-bottom:none; 
                    li{
                       width:25%;
                       text-align:left;
                       font-size:1.2rem;
                       line-height:.6rem;
                       border-right:none; 
                    }          
                }
            }
        }
    }
}
  