$listPaddingTB:0.4rem 0;
$headerHeight:64px;
$navFontSize:0.9rem;
$navBorder:2px solid var(--font-color);
$basicWidth:1280px;
$basicPaddingTop:52px;
$mainColor:#ee9ca7;
$mainBgColor:#262424;

@keyframes arr {
    from{transform: translate(-50%,-50%) skew(0deg)}
    5%{transform: translate(-50%,-50%) skew(1deg)}
    10%{transform: translate(-50%,-50%) skew(4deg)}
    20%{transform: translate(-50%,-50%) skew(6deg)}
    30%{transform: translate(-50%,-50%) skew(8deg)}
    50%{transform: translate(-50%,-50%) skew(6deg)}
    70%{transform: translate(-50%,-50%) skew(4deg)}
    80%{transform: translate(-50%,-50%) skew(2deg)}
    90%{transform: translate(-50%,-50%) skew(1deg)}
    to{transform: translate(-50%,-50%) skew(2deg)}
}

@keyframes arr2{
    from{transform: skew(0deg)}
    5%{transform: skew(2deg)}
    10%{transform: skew(4deg)}
    20%{transform: skew(6deg)}
    30%{transform: skew(8deg)}
    50%{transform: skew(6deg)}
    70%{transform: skew(4deg)}
    80%{transform: skew(2deg)}
    90%{transform: skew(4deg)}
    to{transform: skew(2deg)}
}
