$listPaddingTB:0.4rem 0;
$headerHeight:64px;
$headerHeightMO:80px;

$navFontSize:0.9rem;
$navBorder:2px solid var(--font-color);
$border:1px solid #efefef;

$basicWidth:1280px;
$subWidth:1124px;

$mainColor:#262424;

$basicPaddingTop:52px;
$basicPaddingMO:0 30px;

$buttonPadding:0 24px;
$buttonHeight:36px;
$buttonBorder:1px solid #EAEAEA;
$buttonColor:var(--background-color);
$buttonHoverColor:var(--button-hover-bc);
$buttonHoverFontColor:var(--button-hover-fc);
$buttonClickColor:var(--button-click-bc);
$buttonClickFontColor:var(--button-click-fc);
$buttonRadius:0.3rem;

@keyframes arr {
    from{transform: translate(-50%,-50%) skew(0deg)}
    5%{transform: translate(-50%,-50%) skew(1deg)}
    10%{transform: translate(-50%,-50%) skew(4deg)}
    20%{transform: translate(-50%,-50%) skew(6deg)}
    30%{transform: translate(-50%,-50%) skew(8deg)}
    50%{transform: translate(-50%,-50%) skew(6deg)}
    70%{transform: translate(-50%,-50%) skew(4deg)}
    80%{transform: translate(-50%,-50%) skew(2deg)}
    90%{transform: translate(-50%,-50%) skew(1deg)}
    to{transform: translate(-50%,-50%) skew(2deg)}
}

@keyframes arr2{
    from{transform: skew(0deg)}
    5%{transform: skew(2deg)}
    10%{transform: skew(4deg)}
    20%{transform: skew(6deg)}
    30%{transform: skew(8deg)}
    50%{transform: skew(6deg)}
    70%{transform: skew(4deg)}
    80%{transform: skew(2deg)}
    90%{transform: skew(4deg)}
    to{transform: skew(2deg)}
}
